spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
  # 커넥션 풀 개수 설정
  hikari:
    pool-name: HikariCP
    maximum-pool-size: 10
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-version: 1              # 기본 버전 숫자: 1
    baseline-description: "Monghyang Initial DB Schema(by flyway)"
    out-of-order: true # 순차 처리 비활성화(버전 상관없이 적용되지 않은 파일 적용 시도)
    baseline-on-migrate: false  # DB 스키마가 존재하지 않는다면 V1부터 적용
  profiles:
    active: local # 기본 프로파일: local (로컬 테스트 개발용: local, 배포용: prod)